
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <ul class="ul">
            <li><a href="@Url.Action("Index","Home")">Index</a></li>
            <li><a href="@Url.Action("Mission","Home")">Mission</a></li>
            <li><a class="active">MissionFAQ</a></li>
            <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
            <li><a href="@Url.Action("About","Home")">About</a></li>
        </ul>
    </div>
    <h2>Thank you for submitting your question!</h2>
    <a href="@Url.Action("Index","Home")" class="btn btn-primary btn-lg">Home Page &raquo;</a>
</body>
